<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <br>
    <img src="/img/my-photo.png" alt="logo" style: width="200"; height="200">
    <br>
    <br>
    <p>Hello, I'm Juan Jose Marquez Gamboa. I'm passionate about two things in life: video games and soccer. When I'm not immersed in the world of game programming, you can often find me on the virtual battlefield, exploring fantastical realms, or engaging in epic quests. Video games are not just a hobby for me; they are a source of inspiration and a driving force behind my creativity.</p>
    
    <p>On the soccer field, I find another form of exhilaration. The beautiful game has taught me about teamwork, strategy, and the importance of perseverance. Whether I'm playing or cheering on my favorite team, soccer is a part of my life that brings joy and excitement.</p>

    <p>But beyond my passions, my greatest joy comes from spending time with my family. They are my rock, my support system, and the ones who have encouraged me to pursue my dreams in the world of game programming. Together, we create lasting memories and share in the journey of life.</p>

    <p>Thank you for taking the time to get to know me a little better. Feel free to explore my portfolio to see the projects born from my love for video games and my dedication to crafting immersive experiences. If you have any questions or just want to chat about games, soccer, or life in general, don't hesitate to reach out.</p>

    <p>Warmest regards,<br> Juan Jose Marquez Gamboa</p>
    </div>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   