<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <br>
    <p>Welcome to Juan Marquez's Game Programming Portfolio</p>
    <br>
    <p>Greetings and welcome! I'm thrilled to have you here as we embark on a journey through the world of game programming. My name is Juan Marquez, and this portfolio is a gateway to my passion for crafting immersive digital experiences.</p>
    
    <p>In the realm of game programming, I believe that creativity knows no bounds. It's the fusion of art, technology, and storytelling that allows us to create captivating virtual worlds. My mission is to bring these worlds to life and provide players with unforgettable adventures.</p>

    <p>Within this portfolio, you'll find a collection of projects that showcase my dedication to pushing the boundaries of what's possible in the realm of game development. From concept to code, each game represents countless hours of hard work, innovation, and, most importantly, fun.</p>

    <p>Whether you're a fellow developer, a gamer seeking inspiration, or someone interested in the magic that happens behind the scenes, you've come to the right place. Please feel free to explore my projects, delve into the code, and get a glimpse of the exciting challenges I've tackled.</p>

    <p>I'm always on the lookout for new collaborations, exciting challenges, and opportunities to bring fresh ideas to life. If you have any questions, feedback, or potential projects you'd like to discuss, don't hesitate to get in touch through the contact information provided.</p>

    <p>Thank you for visiting, and I hope you enjoy your adventure through my game programming world. Let's level up together!</p>

    <p>Warmest regards,<br> <br>Juan Marquez</p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   