<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <br>
     <!-- Service 1: Game Programming in Unity 2D and 3D -->
     <div class="service">
      <h2>Game Programming</h2>
      <p>As a passionate game developer, I offer expertise in game programming using the Unity game engine. Whether you're looking to create 2D or 3D games, I can bring your ideas to life. My services include:</p>
      <ul>
          <li>Designing and developing game mechanics</li>
          <li>Level design and implementation</li>
          <li>Character and asset integration</li>
          <li>Gameplay optimization and testing</li>
          <li>Cross-platform game development</li>
      </ul>
      <p>With a deep understanding of game development principles and some expereince, I'm dedicated to helping you create engaging and immersive gaming experiences.</p>
  </div>

  <!-- Service 2: AR App Development -->
  <div class="service">
      <h2>Augmented Reality (AR) App Development</h2>
      <p>Unlock the potential of Augmented Reality with my AR app development services. AR technology has the power to transform the way we interact with the world. I offer:</p>
      <ul>
          <li>Conceptualizing and designing AR experiences</li>
          <li>Developing AR apps for various platforms</li>
          <li>Integration of real-world and digital elements</li>
          <li>Marker-based and markerless AR solutions</li>
          <li>Interactive and immersive AR experiences</li>
      </ul>
      <p>Whether it's for education, entertainment, or business, I can help you create AR applications that engage and captivate your target audience.</p>
  </div>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   